@charset "UTF-8";
/* navbar, ordenada por contenedores */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
header {
  position: sticky;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.582);
}

.nav-logo {
  margin-block: -0.5rem;
  margin-inline-start: 1rem;
  min-height: 60px;
  max-height: 5vh;
  transform: rotate(-30deg);
  transition: transform 0.3s;
  transform-origin: center;
}

.nav-logo:hover {
  transform: rotate(-570deg);
}

.pokemon-search {
  height: 45px;
}

.pokecomp {
  width: 350px;
}

.footer {
  width: 120%;
}

/* navbar button */
.button-search:hover {
  background-color: #b32626;
}

navbar-toggler-icon {
  border: none;
}

/*main page buttons*/
.btn-outline-light {
  margin-top: 2rem;
  font-size: 1.5rem;
  box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.616);
}

.btn {
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-primary {
  height: 100%;
  width: 200px;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
}

.btn-search {
  background-color: #cc2f2f;
  margin-inline: 1%;
  height: 100%;
  width: 200px;
  color: white;
}

.btn-search:hover {
  background-color: #b32626;
  color: white;
}

.btn-danger {
  background-color: #cc2f2f;
  color: white;
  width: 29rem;
  border-radius: 2rem;
  height: 60px;
}
.btn-danger:hover .minimalist-icon {
  transform: rotate(360deg);
  animation-play-state: running;
}

.btn-secondary {
  border-radius: 2rem;
  height: 60px;
  background-color: #616161;
}

.minimalist-icon {
  max-width: 30px;
  transition: 0.5s;
  animation: rotar 0.5s infinite;
  animation-play-state: paused;
}

/*subpage buttons*/
.topsubpage {
  margin: auto;
  max-width: 1210px;
  display: flex;
  justify-content: center;
  height: 80px;
}
.topsubpage h2 {
  color: white;
  font-size: 30px;
}

.next {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #616161;
  border-bottom-right-radius: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-left: 0.1rem;
  height: 80%;
  width: 100%;
  min-width: 100px;
  transition: background-color 0.2s;
}

.previous {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #616161;
  border-bottom-left-radius: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-right: 0.1rem;
  height: 80%;
  width: 100%;
  min-width: 100px;
  transition: background-color 0.2s;
}

.prev-next {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  padding-bottom: 0.5rem;
}

.previous:hover {
  background-color: rgb(65, 173, 245);
}

.next:hover {
  background-color: rgb(65, 173, 245);
}

/* pokemon cards, ordenada por contenedores*/
.all-pokemons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.all-pokemons a {
  text-decoration: none;
  color: inherit;
}

.pokemons {
  height: auto;
  border-radius: 3rem;
  background-color: white;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
  padding-block: 1rem;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.pokemons:hover {
  transform: scale(1.035);
}

.pokemons:hover .pokemon-image {
  transform: scale(1.09);
  transition: transform 0.3s ease;
}

.pokemon-number {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  font-weight: 800;
  color: rgba(51, 51, 51, 0.0941176471);
  z-index: -1;
}

.pokemon-image {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.pokemon-image img {
  max-width: 15rem;
}

.info-pokemon {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.pokemons-id .pokemon-name {
  display: inline-block;
}

.pokemons-id {
  margin-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.0941176471);
  padding: 0.3rem 0.6rem;
  border-radius: 0.8rem;
  font-size: 0.75rem;
  font-weight: 700;
  transition: transform 0.2s ease;
}

.pokemon-name {
  font-size: 2rem;
  font-weight: 700;
  transition: transform 0.2s ease;
}

.pokemon-types {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  transition: transform 0.2s ease;
}

.type {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  width: 80px;
  margin-inline: 2%;
}

/* mediaquerys subpagina */
@media screen and (min-width: 0px) {
  .main-info {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
  .info-layout {
    grid-template-columns: 100%;
  }
  .container-stats {
    margin-top: -3.7rem;
  }
  .card-evolution {
    grid-template-columns: 1fr;
  }
  .evolution {
    margin-top: 15px;
  }
}
@media screen and (min-width: 910px) {
  .main-info {
    padding: 2rem 4rem 4rem 4rem;
  }
  .card-evolution {
    grid-template-columns: 1fr 1fr;
  }
  .evolution {
    margin-top: 2rem;
  }
  .info-layout {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
  .container-stats {
    margin-top: 1rem;
  }
  .poketypes-container {
    margin-top: -3.5rem;
  }
}
@media screen and (min-width: 1120px) {
  .card-evolution {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* buttons subpage mediaquery */
@media screen and (max-width: 770px) {
  .topsubpage h2 {
    font-size: 4vw;
  }
}
/* subpagina, ordenada por contenedores */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.title h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.main-info {
  margin: 0 auto;
  max-width: 1210px;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  margin-bottom: 2rem;
  padding: 0rem 4rem 4rem 4rem;
}

.img-container {
  background-color: rgba(175, 175, 175, 0.2392156863);
  border-radius: 4rem;
  min-width: 300px;
  position: relative;
}

.info-img {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}
.info-img:hover {
  animation: jump 0.5s ease;
}

.info-layout {
  display: grid;
  grid-template-rows: 2fr 2fr;
  gap: 1rem;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info-text {
  background-color: rgba(175, 175, 175, 0.2392156863);
  border-radius: 4rem;
  padding: 2rem 2rem 1rem 2rem;
}

.pokemon-info {
  row-gap: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  padding: 2rem 1rem 6rem 4rem;
  border-radius: 4rem;
  height: 55%;
  width: 100%;
  background-color: #cc2f2f;
}

.pokemon-info p {
  color: white;
  font-weight: 500;
  margin-bottom: -2px;
}

.container-stats {
  display: flex;
  align-items: center;
  background-color: rgb(61, 61, 61);
  padding: 2rem;
  border-radius: 4rem;
}

.container-stats span {
  color: white;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding-left: 1.5rem;
}

.stat-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.stat-group span {
  flex: 20%;
  font-weight: 500;
  font-size: 18px;
  width: 20px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(65, 173, 245);
  border-radius: 10px;
  margin: 0px 1px 0px 15px;
}

.evolution {
  background-color: rgb(61, 61, 61);
  border-radius: 4rem;
  margin-top: 2rem;
  padding: 2rem 2rem 2rem 2rem;
}

.evolution-title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 1.7rem;
}

.card-evolution {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.evolution a {
  text-decoration: none;
  color: inherit;
}

.poketypes-container {
  background-color: rgba(175, 175, 175, 0.2392156863);
  padding: 2rem;
  border-radius: 4rem;
}

.poketypes {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weakness {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* variables */
.normal {
  background-color: #A8A878;
  color: #000000;
}

.fire {
  background-color: #F08030;
  color: #ffffff;
}

.water {
  background-color: #6890F0;
  color: #ffffff;
}

.grass {
  background-color: #78C850;
  color: #ffffff;
}

.electric {
  background-color: #F8D030;
  color: #000000;
}

.ice {
  background-color: #98D8D8;
  color: #000000;
}

.fighting {
  background-color: #C03028;
  color: #ffffff;
}

.poison {
  background-color: #A040A0;
  color: #ffffff;
}

.ground {
  background-color: #E0C068;
  color: #000000;
}

.flying {
  background-color: #A890F0;
  color: var(--clr-black);
}

.psychic {
  background-color: #F85888;
  color: #000000;
}

.bug {
  background-color: #A8B820;
  color: #000000;
}

.rock {
  background-color: #B8A038;
  color: #000000;
}

.ghost {
  background-color: #705898;
  color: #000000;
}

.dark {
  background-color: #705848;
  color: #ffffff;
}

.dragon {
  background-color: #7038F8;
  color: #ffffff;
}

.steel {
  background-color: #B8B8D0;
  color: #000000;
}

.fairy {
  background-color: #F0B6BC;
  color: #000000;
}

/* mediaquerys subpagina */
@media screen and (min-width: 0px) {
  .main-info {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
  .info-layout {
    grid-template-columns: 100%;
  }
  .container-stats {
    margin-top: -3.7rem;
  }
  .card-evolution {
    grid-template-columns: 1fr;
  }
  .evolution {
    margin-top: 15px;
  }
}
@media screen and (min-width: 910px) {
  .main-info {
    padding: 2rem 4rem 4rem 4rem;
  }
  .card-evolution {
    grid-template-columns: 1fr 1fr;
  }
  .evolution {
    margin-top: 2rem;
  }
  .info-layout {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
  .container-stats {
    margin-top: 1rem;
  }
  .poketypes-container {
    margin-top: -3.5rem;
  }
}
@media screen and (min-width: 1120px) {
  .card-evolution {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* buttons subpage mediaquery */
@media screen and (max-width: 770px) {
  .topsubpage h2 {
    font-size: 4vw;
  }
}
/* Animaciones */
@keyframes jump {
  0% {
    transform: translate(-50%, -50%); /* Mantiene la posición original */
  }
  25% {
    transform: translate(-50%, -70%); /* Primer salto */
  }
  50% {
    transform: translate(-50%, -50%); /* Regresa a la posición original */
  }
  75% {
    transform: translate(-50%, -70%); /* Segundo salto */
  }
  100% {
    transform: translate(-50%, -50%); /* Regresa a la posición original */
  }
}
@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-hamburguesa {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.menu-hamburguesa span {
  display: block;
  background-color: #616161;
  padding-inline: 20%;
  padding-bottom: 8px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  margin-top: -21px;
  color: white;
}

.menu-hamburguesa span::before, .menu-hamburguesa span::after {
  content: "";
  background: transparent url(../assets/large-notch-darkgray.png) no-repeat;
  height: 28px;
  left: -36px;
  position: absolute;
  width: 38px;
  top: 10px;
  /* -webkit-transform:scaleY(-1); */
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.menu-hamburguesa span::after {
  left: auto;
  right: -36px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.navegacion {
  max-height: 0; /* Oculto por defecto */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #616161;
}

.navegacion span {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.filter-container {
  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 3%;
  max-width: 1100px;
  height: 250px;
  margin: auto;
  padding-block: 1rem;
}

.list-types {
  display: flex;
  justify-content: center;
}

.navegacion a {
  text-decoration: none;
  color: #333;
}

.vacio {
  width: 100%;
  height: 100px;
  background-color: #616161;
}

.button-layout {
  margin: 3rem 0 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.input-group {
  height: 100%;
}

.number-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 1%;
  height: 100%;
}

.number-filter span {
  white-space: nowrap;
}

.form-control {
  border-radius: 2rem;
  min-width: 120px;
  max-width: 300px;
}

.hero {
  height: 93vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.55);
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero-text {
  color: white;
  margin-inline: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.hero-text h1 {
  font-size: clamp(2rem, 18vw, 500px);
  line-height: 0.8;
  font-weight: 700;
  margin-inline: 0.5rem;
}

.hero-text p {
  font-size: 25px;
}

/* main page, estructura ordenada por contenedores*/
* {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  backdrop-filter: brightness(0.7);
}

.main-page {
  min-height: 100vh;
  margin-bottom: 1rem;
}

.pokedex-container {
  max-width: 1500px;
  padding: 2rem;
  margin: auto;
  background-image: url(../assets/background.jpg);
  border-radius: 3rem;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
}

.mainsection {
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
