/* navbar button */

.button-search {
        background-color: #cc2f2f;
        border: none;
        border-radius: 2rem;
        padding: 0px 15px 0px 15px;
        color: white;
    }

.button-search:hover {
    background-color: #b32626;
}


/*main page buttons*/

.btn-outline-light{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.btn{
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.582); 
  }
  
  .btn-primary{
    height: 100%;
    width:clamp(80px, 200px, 200px);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0,.25); 
  }

  .btn-search{   
    background-color: #cc2f2f; 
    margin-inline: 1%;
    height: 100%;
    width:clamp(80px, 200px, 200px);
    color: white;
  } 

  .btn-search:hover{ 
    background-color: #b32626;
    color: white; 
}  

.btn-danger{
    background-color: #cc2f2f;
    color: white;
    width: 29rem;
    border-radius: 2rem;
    height: 60px; 

    &:hover .minimalist-icon{
        transform: rotate(360deg);
        animation-play-state: running;
    }
}
.btn-secondary{
    border-radius: 2rem;
    height: 60px;
    background-color: #616161;
}

.minimalist-icon{
    max-width: 30px;
    transition: 0.5s;
    animation: rotar 0.5s infinite;
    animation-play-state: paused;
}


/*subpage buttons*/

.topsubpage{ 
    margin: auto;
    max-width: 1310px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    height: 80px;
    h2{
        color: white;
        font-size: 30px;
    }
}

.next{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #616161; 
    border-bottom-right-radius: 3rem;
    padding: .5rem 2rem .5rem 2rem;
    margin-left: .1rem;
    margin-right: 3.6rem;
    height: 80%;
    width: 100%;
    min-width: 100px;
    transition: background-color 0.2s;
}

.previous{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #616161;
    border-bottom-left-radius: 3rem;
    padding: .5rem 2rem .5rem 2rem;
    margin-right: .1rem;
    margin-left: 3.6rem;
    height: 80%;
    width: 100%;
    min-width: 100px;
    transition: background-color 0.2s;
}

.prev-next{
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    padding-bottom: 0.5rem;
}

.previous:hover {
    background-color:  rgb(65, 173, 245);
}

.next:hover {
    background-color:  rgb(65, 173, 245);
}