
/* navar mediaquery */
@media screen and (max-width: 700px){
    
}

/* mediaquerys pagina principal */

@media screen and (min-width: 0px) {
    .all-pokemons{
        grid-template-columns: 1fr ;
    }
    .pokemons{
        margin: auto;
    }
}

@media screen and (min-width: 735px) {
    .all-pokemons{
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (min-width: 1050px) {
    .all-pokemons{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

/* mediaquerys subpagina */

@media screen and (min-width: 0px){

    .main-info{
        padding: 1.5rem;
    }

    .info-layout{
        grid-template-columns: 100%;
    }

    .container-stats{
        margin-top: -3.7rem;
    }

    .card-evolution{
        grid-template-columns: 1fr;
    }

    .evolution{
        margin-top: 15px;
    }

}

@media screen and (min-width: 910px){

    .main-info{
        padding: 4rem;
    }

    .card-evolution{
        grid-template-columns: 1fr 1fr;
    }

    .evolution{
        margin-top: 2rem;
    }

    .info-layout{
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        column-gap: 2rem;
        row-gap: 1rem;
    }

    .container-stats{
        margin-top: 1rem;
    }

    .poketypes-container{
        margin-top: -3.5rem;
    }
    
}

@media screen and (min-width: 1120px){

    .card-evolution{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* buttons subpage mediaquery */

@media screen and (max-width: 770px){
    .topsubpage h2{
        font-size: 4vw;
    }
}
