/* navbar, ordenada por contenedores */   

header{
    position: sticky; 
    z-index: 1000; 
    width: 100%;  
    top: 0;
    left: 0;   
    background-color: white; 
    box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.582); 
}
.nav-logo{ 
    margin-block: -.5rem;
    min-height: 60px;
    max-height: 5vh;
    transform: rotate(-30deg);
    transition: transform 0.3s;
    transform-origin: center;
}

.nav-logo:hover { 
    transform: rotate(-570deg);  
}

.pokemon-search{
    height: 45px;    
}