/* variables */
$black: #000000;
$white: #ffffff;

$grass:#78C850;
$fire:#F08030;
$water:#6890F0;
$electric:#F8D030;
$ice:#98D8D8;
$fighting:#C03028;
$poison:#A040A0;
$ground:#E0C068;
$flying:#A890F0;
$psychic:#F85888;
$bug:#A8B820;
$rock:#B8A038;
$ghost:#705898;
$dark: #705848;
$dragon: #7038F8;
$steel: #B8B8D0;
$fairy: #F0B6BC; 
$normal: #A8A878;

.normal {
    background-color: $normal;
    color: $black;
}
.fire {
    background-color: $fire;
    color: $white;
}
.water {
    background-color: $water;
    color: $white;
}
.grass {
    background-color: $grass;
    color: $white;
}
.electric {
    background-color: $electric;
    color: $black;
}
.ice {
    background-color: $ice;
    color: $black;
}
.fighting {
    background-color: $fighting;
    color: $white;
}
.poison {
    background-color: $poison;
    color: $white;
}
.ground {
    background-color: $ground;
    color: $black;
}
.flying {
    background-color: $flying;
    color: var(--clr-black);
}
.psychic {
    background-color: $psychic;
    color: $black;
}
.bug {
    background-color: $bug;
    color: $black;
}
.rock {
    background-color: $rock;
    color: $black;
}
.ghost {
    background-color: $ghost;
    color: $black;
}
.dark {
    background-color: $dark;
    color: $white;
}
.dragon {
    background-color: $dragon;
    color: $white;
}
.steel {
    background-color: $steel;   
    color: $black;    
}
.fairy {
    background-color: $fairy;
    color: $black;
}
 